body {
    margin: 0%;
    padding: 0%;
}

ul {
    margin: 0%;
    padding: 0%;
    display: flex;
}

li {
    list-style-type: none;
    padding: 10px;

}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 5px;

}

.block,
.header {
    display: flex;
    background-color: #1F2937;
}

.img {
    width: 400px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 40px;
    margin-top: 100px;

}

.header {
    justify-content: space-around;
}

.block {
    justify-content: center;
    height: 400px;
}

.inner {
    margin: 40px;
    margin-top: 100px;
}

.awsm {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 350px;
}

.awsm-text {
    color: #E5E7EB;
    font-size: 18px;
}

.button-one,
.button-two {
    color: #E5E7EB;
    font-weight: bold;
    background-color: #3882F6;
    padding: 7px 20px 7px 20px;
    border-radius: 10px;
    border: none;
}

.button-one {
    margin-top: 10px;
}

.button-two {
    border: 2px solid white;
}

.info {
    display: flex;
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.leafs {
    display: flex;
    height: 270px;
    justify-content: center;

}



img {
    height: 150px;
    width: 150px;
    border-radius: 7px;
}

.box {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;

}

.leaf {
    justify-content: center;
    padding: 20px;
    max-width: 150px;
    color: rgb(73, 71, 71)
}

.text {
    padding: 5px;
}

.quote {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #E5E7EB;
    justify-content: center;
}

.one {
    font-size: 32px;
    color: #1F2937;
    font-weight: lighter;
    margin-left: 50px;
    margin-right: 50px;
}

.two {
    font-size: 18px;
    align-self: flex-end;
    margin-right: 50px;
    font-weight: bolder;
}

.act {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.box-two {
    height: 100px;
    width: 900px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.action {
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.signup {
    color: #E5E7EB;

}

.footer {
    height: 75px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}